/*
  Styles for the overlay
 */
.sr-overlay {
  position: fixed;
  z-index: 10000;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;

  background: black;
  background: rgba(0, 0, 0, .9);
}

.sr-overlay-inner {
  position: relative;
  top: 50%;

  width: 90%;
  margin: auto;
  padding: 1em 2em;

  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  text-align: center;

  background: #fff;
}

.sr-overlay-inner h2 {
  text-align: center;
}

.field.hs-form-field.smart-field {
  display: inline-block !important;
  padding-top: 10px;
}

.hubspot-form-holder .actions {
  padding: 0 !important;
  margin: 0 !important;
}

.hubspot-form-holder .hs_submit .hs-button {
  margin-left: 1em;

  border: 0;
  border-radius: 0;
  background: #46b047;
  text-shadow: 0;
}

.hubspot-form-holder .hs_submit .hs-button:hover {
  box-shadow: 0;
  border: 0;
}
